.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 2rem;
    margin: 20px 0;
  }
  
  div {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #000000;
  }
  
  input {
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
  }
  
  select {
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  